* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  background-color: #fffbf7;
}
.header {
  margin: 40px 0;
  font-size: 0;
  height: 45px;
  font-family: sans-serif;
}
.logo {
  width: 20%;
}
.logo img {
  vertical-align: middle;
  width: 140px;
}
.header > * {
  display: inline-block;
  font-size: 16px;
  height: 100%;
}
.navbar {
  width: 60%;
  text-align: center;
  color: #025157;
  height: 45px;
}
.menu-item {
  display: inline;
  font-size: 16px;
  margin: 0 10px;
}
.actions {
  width: 20%;
  text-align: left;
  font-size: 0;
}
.actions > * {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
  display: inline-block;
}
.actions a {
  color: #67b54b;
  font-weight: bold;
  text-decoration: none;
}
.actions a:hover {
  cursor: pointer;
}
.actions button {
  color: white;
  background-color: #67b54b;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 0;
  border-radius: 5px;
}
.intro {
  width: 80%;
  margin: 30px auto;
}
.intro img {
  width: 80%;
}
main {
  margin-top: 200px;
  text-align: center;
}
.section {
  margin: 30px auto;
}
.section h1 {
  color: #025157;
  font-family: 'Alegreya', serif;
  font-size: 60px;
  margin: 60px auto;
  font-weight: 800;
}
.section p {
  color: #46484c;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: 'Slabo 27px', serif;
}
.section form {
  height: 55px;
  margin-bottom: 30px;
}
.section input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  border-radius: 8px;
  height: 100%;
}
.section button {
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
  padding: 6px 20px;
  margin-left: -10px;
}
.publish{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  flex: 1;
  padding: 0 25px;
  
}

.publish h3{
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}


.publish > p{
  font-size: 16px;
  color: #343434;
  line-height: 1.5rem;
  margin-bottom: 20px;
}
.publish input {
  border: 1px solid #b6b6b6;
  padding: 6px 20px;
  border-radius: 8px;
  height: 100%;
}
.publish button {
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
  padding: 6px 20px;
  margin-left: -10px;
}

.publish div p {
  color: #8b8b8bcc;
    margin-top: 15px;
}
.publish > form p {
  color: #8b8b8bcc;
    margin-top: 15px;
}

.promo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.promo img{
  width: 120px;
  margin-top: 10px;
}

.go-to-action{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 100px;

}

.fixed-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fffbf7;
}

.features{
  margin-top: 50px;
  background-color: #025157;
  padding: 5% 10%;
  height: 660px;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2,1fr);
}

.featured-card{
  margin: 0 15px 30px 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}


.featured-card .featured-content{
  text-align: left;
  padding: 30px 20px 40px 40px;
  flex: 2;

}
.featured-card .featured-content > * {
  margin-bottom: 1rem; /*1 rem igual a 16 pixeles>*/
  margin-top: 0;


}


.featured-card .featured-content h3{
  font-size: 24px;
  color: #343434;
  font-weight: 400;

}

.featured-card .featured-content p{
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.featured-content a{
  font-size: 16px;
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.features .feature-card .feature-image {
  flex: 1;
  width: 60%;
  position: relative;
  right: -50px;
  height: 80%;
}

.features .featured-card .featured-content  img{
  width: 50px;
}

.features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 5px;
  height: 100%;
}

.features .featured-card .featured-image figure img{
  width: 200px;
}




.Growing{
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Growing .overview {
  flex: 2;
  padding-right: 100px;
}


.Growing .overview h2{
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.Growing .overview p{
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.Growing .overview button{
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  margin-left: 0;
}

.Growing .overview img{
  width: 500px;
  max-width: 100%;
}


.Growing .card {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.Growing .card .partesuperior .personaje img{
  width: 100%;
  max-height: 16vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.Growing .card .partesuperior figure {
  margin-top: 0;
}
.Growing .card .partesuperior {
  position: relative;
}

.Growing .card .cuerpo .company {
  position: absolute;
  bottom: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Growing .card .cuerpo .company img {
  max-width: 75%;
  display: inline-block;
}

.Growing .card .cuerpo,
.Growing .card .parteinferior {
  padding: 25px;
}

.Growing .card .cuerpo img {
  display: flex;
  align-items: center;
  color: #828282;
  width: 26px;
  margin-right: 20px;
}


.Growing .card .cuerpo p {
  margin-top: 0;
}

.Growing .card .parteinferior {
  margin-bottom: 20px;
  background-color: unset;
  border-top: unset;
}

.Growing .card .parteinferior button{
  display: block;
  margin-left: 0;
  border-radius: 5px;
  font-size: 13;
  font-weight: 600;
  padding: 12px 20px;
  width: 100%;
}

button{
  background-color: #025157;
  color: #fff;
  border: none;
}

.how-does-it-work{
  background-color: #fffbf7;
  padding: 5% 5%;
  text-align: center;
}
.how-does-it-work .steps > * {
  margin-bottom: 1rem;
  margin-top: 0;
  
}
.how-does-it-work .steps {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.how-does-it-work .title{
  color: #025157;
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  font-family: "Alegreya", serifs;
  margin-bottom: 8px;
}

.how-does-it-work .description{
  max-width: 60%;
  color: #46484c;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 auto 16px auto;
  margin-bottom: 16px;
}

.how-does-it-work button{
  font-size: 14px;
  font-weight: 600;
  padding-top: 12px 12px 6px 12px;
  height: 45px;
  margin-left: 0;
  margin-top: 6px;
  border-radius: 6px;
  background-color: #025157;
  color: #fff;
}


.how-does-it-work a{
  color: #67b54b;
}

.how-does-it-work .steps .card-step{
  background-color: #fff;
  margin: 0 20px;
  border: 1px solid #dadada;
  border-radius: 5px;
  align-items: left;
}

.how-does-it-work .steps .card-step-image{
  position: relative;
  height: 350px;
}

.how-does-it-work .steps .card-step-image .card-step-icon{
  position: absolute;
  top: 25px;
  left: 25px;
  width: 21px;
}

.how-does-it-work .steps .card-step-image .card-step-bg{
  width: 100%;
  height: 100%;
}

.how-does-it-work .steps .card-step .card-step-body{
  padding: 25px;
}

.how-does-it-work .steps .card-step .card-step-body h3{
  font-size: 30px;
  line-height: 36px;
  color: #025157;
  font-weight: 400;
  font-family: "Alegreya", serif;
  text-align: center;
}

.how-does-it-work .steps .card-step .card-step-body p{
  font-size: 18px;
  line-height: 1.5;
  color: #46484c;
  font-weight: 400;
  text-align: left;
  height: 85px;
  margin-bottom: 16px;
}

.how-does-it-work .steps .card-step .card-step-body a{
  align-items: start;
  font-size: 16px;
  line-height: 1.4;
  color: #67b54b;
  font-weight: 600;
  
}